*~
.svn
rusko/
joomla
vecchiume
const/
var/state/app_braghe.txt var/state/app_messaggi.txt var/state/app_online.txt var/state/app_utentiattivi.txt var/state/app_UTENTI_ORA.txt
var/state/app_*.txt
var/state/*.txt
var/log/log_bugz.php var/log/log_ingressi.php var/log/pannello.log.php var/log/queryz.log.php
var/log/*.php
var/log/.uploadfoto.log
.vecchiume/
conf/setup.php
conf/setup.php.areaserver
conf/setup.php.produzione
conf/setup.php.ricvm6
uploads/thumb/*.jpg
immagini/persone/*.jpg
immagini/persone/*.gif
immagini-backup-NONCANCELLARMI/
immagini2/
db/goliardia-solstizio12-Sql33291_1.sql.zip
*.sqp
Thumbs.db
