
AAAA.rosso, .rosso { color: orange; }


/* Rails stuff 
  https://stackoverflow.com/questions/14349131/rails-3-flash-notice-styling
  https://stackoverflow.com/questions/22566072/rails-4-flash-notice
*/

.alert {
	font-weight: bold;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 18px;
	padding: 12px 25px 12px 24px;
	-moz-box-shadow: 3px 3px 1px 1px #CCCCCC;
	-webkit-box-shadow: 3px 3px 1px 1px #CCCCCC;
	box-shadow: 3px 3px 1px 1px #CCCCCC;
 }
 .alert-success-vecchio {
	background-color: #66E167;
	border-color: #D6E9C6;
	width: 280px;
	color: black;
	padding-top: 20px;
 }

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #e01818;
    border-color: #ed4e66;
    color: #f7dcb5;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #e5e8e4;
    border-color: #d6e9c6;
    color: #9dac9d;
    text-align: left;
 }
 .alert-warning {
	background-color: #ebe15a;
    border-color: #bab300;
    color: #9dac9d;
    text-align: left;
 }