# For example, lines like this
2019-05-05 14:12:44	104.132.228.27   palladius                     [sito06] logout  [palladius]
2019-05-05 14:12:46	104.132.228.27   anonimo                       [sito06] loggato [palladius]
